body {
    background-color: #181818;
}

.header {
    color: #d8d8d8;
}

.row {
    padding-top: 15px;
}

#modes {
    padding-top: 30px;
}

.top-btn {
    padding-top: 5px;
}

#screen-container {
    text-align: center;
}

#buttons {
    text-align: center;
}

.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited {
    color: #7cafc2 !important;
    border-color: #7cafc2 !important;
}

.btn-outline-primary:hover {
    background-color: #7cafc2 !important;
    color: #181818 !important;
}

.btn-blue-chosen {
    background-color: #7cafc2 !important;
    color: #181818 !important;
}

.btn-outline-warning, .btn-outline-warning:active, .btn-outline-warning:visited {
    color: #f7ca88 !important;
    border-color: #f7ca88 !important;
}

.btn-outline-warning:hover {
    background-color: #f7ca88 !important;
    color: #181818 !important;
}

.btn-yellow-chosen {
    background-color: #f7ca88 !important;
    color: #181818 !important;
} 

.btn-outline-light, .btn-outline-light:active, .btn-outline-light:visited {
    color: #d8d8d8 !important;
    border-color: #d8d8d8 !important;
}

.btn-outline-light:hover {
    background-color: #d8d8d8 !important;
    color: #181818 !important;
}

.btn-white-chosen {
    background-color: #d8d8d8 !important;
    color: #181818 !important;
} 
